<section>
    <div class="container p-25 mt-5">
        <div class="box text-center m-auto">
            <h3>
                Your Order has been placed succcessfully...
            </h3>
        </div>
    </div>
     <div class="mt-5 p-5 text-center">
         <a href="/orderHistory" class="btn btn-secondary w-50 ">Order History</a>
     </div>
</section>

<style>
    .box{
        border: 1px solid white;
    }
</style>